body {
  padding: 0;
  margin: 0;
  font-family: "sans-serif", Arial, sans-serif;
  text-align: justify;
}

header {
  margin: 0 auto;
  height: 63px;
  width: 1020px;
  background: #323232;
  color: #fff;
}

nav ul {
  width: 431px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

nav img {
  padding-top: 10px;
}

nav li {
  vertical-align: middle;
  text-align: center;
  width: 80px;
  display: inline-block;
}

nav a {
  text-transform: uppercase;
  font-size: 8px;
  color: #ebebeb;
  text-decoration: none;
}

nav a:hover {
  color: #2f9882;
}

.dot {
  position: relative;
  display: inline-block;
  height: 2px;
  width: 2px;
  background-color: #424554;
}

.line-under-nav-left {
  position: relative;
  top: 11px;
  left: 30px;
  width: 410px;
  height: 1px;
  background-color: #e4e9eb;
}

.line-under-nav-right {
  position: relative;
  top: 11px;
  left: 580px;
  width: 410px;
  height: 1px;
  background-color: #e4e9eb;
}

.triangle {
  position: relative;
  bottom: 80px;
  height: 103px;
  width: 90px;
  background-color: #323232;
  clip-path: polygon(0 70%, 50% 100%, 100% 70%);
  margin: 0 auto;
}

.poly, .small-poly {
  margin: 0 auto;
  clip-path: polygon(0 30%, 51% 40%, 100% 30%, 50% 100%);
  background-color: white;
}

.poly {
  z-index: 2;
  position: relative;
  height: 55px;
  width: 55px;
  background-color: white;
}

.small-poly {
  position: relative;
  top: 3px;
  height: 55px;
  width: 50px;
  background-color: #323232;
}

.lab_item {
  width: 182px;
  height: 209px;
  position: relative;
  display: inline-block;
  margin: 0 7px 0 7px;
  padding: 0;
  left: 5px;
}

.hexagon2 {
  position: absolute;
  width: 182px;
  height: 400px;
  top: -85px;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-background-size: 125%;
  -moz-background-size: 125%;
  background-size: 125%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.first-el-sec-line {
  padding-left: 7px;
}

.up-first {
  bottom: 42px;
}

.up-third {
  bottom: 115px;
}

.left-line {
  border-right: 1px solid #e4e9eb;
  margin-left: 5px;
  width: 98px;
  height: 104px;
  position: relative;
  display: inline-block;
}

.right-line {
  margin-left: 9px;
  border-left: 1px solid #e4e9eb;
  margin-top: 40px;
  width: 98px;
  height: 104px;
  position: relative;
  display: inline-block;
}

.sec-line {
  bottom: 40px;
}

.third-line {
  bottom: 75px;
}

.slider-buttons {
  padding-left: 30px;
  cursor: default;
}

.page {
  height: 6px;
  width: 6px;
  background-color: #ddd2c5;
  display: inline-block;
  margin: 0;
}

.page:hover {
  background-color: #8b8784;
}

.bottom-line {
  width: 960px;
  height: 1px;
  background-color: #e4e9eb;
  margin: 11px auto;
}

article {
  padding: 0px;
  padding-top: 63px;
  width: 1020px;
  margin: 0 auto;
  background-color: white;
}

main {
  margin: 0 auto;
  width: 1020px;
  height: 341px;
  background-color: #2eb398;
}

.content {
  position: relative;
  width: 820px;
  height: 316px;
  margin: 0 auto;
  top: 12px;
  border-left: 1px solid #219d84;
  border-right: 1px solid #219d84;
}

main .smith-pic {
  height: 195px;
  margin-top: 45px;
  margin-left: 17px;
  position: relative;
  display: inline-block;

}

.text-container {
  width: 600px;
  height: auto;
  display: inline-block;
  position: relative;
  margin-left: 195px;
}

.text-container h1 {
  font-size: 22px;
  color: rgba(215, 252, 245, 255);
}

.text-container h2 {
  font-size: 17px;
  color: rgba(32, 129, 109, 255);
}

.text-container p {
  font-size: 12px;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
  text-align-last: left;
  line-height: 1.5em;

}
.social-media{
  margin-left: 650px;
  width: 150px;
  height: 25px;

  position: relative;
  display: inline-block;
}

a{
margin: -3px ;
  width: 27px;
  height: 25px;

  display: inline-block;
  position: relative;
}
a img{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 8px;
  filter: hue-rotate(-20deg);

}
.contact-us{
  margin:0 auto ;

 padding-top: -50px;
  height: 564px;
  width: 1020px;
  background-color: blue;
 bottom:21px;
}

input{
  background-color: green;

}
.get-head{
  grid-area: header;
}
.get-p{
  grid-area:p;
  background-color: black;
}
.box1{
  grid-area:box1;
  background-color: white;
}
.box2{
  grid-area:box2;
  background-color: yellow;
}
.box3{
  grid-area:box3;
  background-color: red;
}
.box4{
  grid-area:box4;
  background-color: white;
}
.get-in-touch{
  margin:0 auto;
  position: relative;
  top:13px;

  background-color: green;
  width:780px;
  height: auto;
  display: grid;
  border-top: 1px solid white;
  grid-template-columns: 580px;
  grid-template-rows: auto;
  grid-template-areas:
  "header header"
  "header header"
  "box1 p"
  "box2 p"
  "box3 p"
  "box4 contacts"
}
.get-in-touch h1{
  margin:53px 0 0 0;
}
.get-in-touch h2{
  margin:0 0 14px 0;
}
.get-in-touch input{
  border-style: none;
  height: 38px;
  width: 580px;
  margin:10px 0 10px;
  background-color: #454545;
}
.box4 input{
  height: 150px;
  
}
